#employForm{
    margin-top: 5px;
}

.add-user{
    background-color: #ffffff;
    padding-top: 30px; 
    padding-bottom: 30px;
    border: solid 1px rgb(201, 201, 201);  
}

#employForm>input{
    width: 50%;
}

.btn-sm{
    width: 100px;
}

.alert-danger {
    background-color: #ff8484;
    border-color: #e74c3c;
    color: #ffffff;
}

.alert {
    padding: 5px 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
}