<form>
    <div class="row">
      <div class="col-md-4 add-user well" id="employForm">
          <div class="form-group">
              <label for="createdDate">Today's Date</label>
              <input required name="createdate" type="datetime" class="form-control" placeholder="1 Jan 2000">
          </div>
          <div class="form-group">
              <label for="managerEmail">Hiring Manager's Email</label>
              <input name="managerEmail" type="email" class="form-control" placeholder="manager-hiring@domain.com">    
          </div>            
          <div class="form-group">
              <label for="fullName">Employee's Full Name</label>
              <input name="fullName" type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group">
              <label for="email">Employee's Email</label>
              <input name="email" type="email" class="form-control" placeholder="your-email@domain.com">
          </div>
          <div class="form-group">
              <label for="phone">Employee's Mobile Number</label>
              <input name="phone" type="number" class="form-control" placeholder="7866654312">
          </div>
          
          <div class="form-group">
            <label>Position new employee is being hired for</label>
            <div class="radio" *ngFor="let position of positions">
              <label>
                <input type="radio" name="optionsRadios" [id]='position.positionId' [value]='position.positionId'>
                {{position.name}}
              </label>
            </div>
          </div>
        
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input name="startDate" type="datetime" class="form-control" placeholder="1 Jan 2000">
          </div>
          <hr>
          <!-- <button (click)="nextTab()" class="btn btn-primary btn-sm">Next</button> -->
      </div>

      <div class="col-md-4 add-user well" id="employForm">
          <label>Services & Equipment Needed</label>
          <div *ngFor="let equipment of equipments" class="checkbox">
            <label>
              <input type="checkbox"> {{ equipment.name }}
            </label>
          </div>

          <div class="form-group">
              <label for="additionalServices">Additional Services</label>
              <input name="additionalServices" type="text" class="form-control" placeholder="">
          </div>

          <div class="form-group">
              <label>What company will employee work for?</label>
              <div class="radio" *ngFor="let company of companies">
                <label>
                  <input type="radio" name="optionsRadios" [id]='company.companyId' [value]='company.companyId'>
                  {{company.name}}
                </label>
              </div>
            </div>
  
            <div class="form-group">
                <label for="additionalInfo">Additional Information</label>
                <input name="additionalInfo" type="text" class="form-control" placeholder="">
            </div>
            <hr>
          
          <!-- <button (click)="prevTab()" class="btn btn-primary btn-sm">Previous</button>
          <button (click)="nextTab()" class="btn btn-primary btn-sm">Next</button> -->
      </div>

      <div class="col-md-4 add-user well" id="employForm">
          <label>What buildings will employee need access to?</label>
          <div *ngFor="let access of accesses" class="checkbox">
            <label>
              <input type="checkbox"> {{ access.name }}
            </label>
          </div>

          <div class="form-group">
              <label for="restrictedAccess">Restricted Access</label>
              <input name="restrictedAccess" type="text" class="form-control" placeholder="">
          </div>
          
          <hr>
          <!-- <button (click)="prevTab()" class="btn btn-primary btn-sm">Previous</button> -->
      </div>
  </div>

  <div class="row well text-center">
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </div>
</form>
  
